.black-body {
  background: #000000
}

.my-card {
  border: 0px;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5rem;
  padding: 10px;
  width: 25rem;
}

.my-face {
  height: auto;
  margin-top: 20%;
}

.my-name {
  margin-top: .5rem;
}

.my-info-container {
  margin-top: .5rem;
}

.my-social-icon {
  width: auto;
  height: 1.5rem;
}

.my-social-icon:hover {
  transform: scale(1.5);
}

.my-linkz {
  margin-top: .5rem;
  display: flex;
}

.my-linkz > * {
  flex: 1 1 auto;
}

.trendy-link {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 88%;
  color: rgb(41, 43, 44);
  cursor: pointer;
  transition: background-size 0.25s ease-in;
}

.trendy-link:hover {
  background-size: 100% 88%;
  text-decoration: inherit;
}
